{% extends "pages/patchouli/page.html.jinja" %}
{% import "macros/formatting.html.jinja" as fmt with context %}
{% import "macros/textures.html.jinja" as texture_macros with context -%}

{% block body %}
    <h5>{{ page.index }}</h5>
{% endblock body %}