{% extends "pages/patchouli/page.html.jinja" %}
{% import "macros/formatting.html.jinja" as fmt with context %}

{% block body %}
    <h5>{{ page.title }}</h5>
    {% with recipe=page.recipe %}
        {% include "recipes/hexical/transmuting.html.jinja" %}
    {% endwith +%}
    {{ fmt.styled(page.text) }}
{% endblock body %}
