{% import "macros/textures.html.jinja" as texture_macros with context -%}

<details class="details-collapsible transmuting-recipe-details">
	<summary class="collapse-details">
		<span class="collapse-recipe-show">{{ _('hexdoc.recipe.show') }}</span>
		<span class="collapse-recipe-hide">{{ _('hexdoc.recipe.hide') }}</span>
	</summary>
	<div>
		<div class="transmuting-recipe">
			<img class="pixelated transmuting-background" alt="Transmuting GUI" src="{{ 'hexical:textures/gui/transmuting.png'|hexdoc_texture }}">

			<div class="transmuting-input">
				{{ texture_macros.render_item(page.recipe.input.item) }}
			</div>

			{% for output in page.recipe.output %}
				<div class="transmuting-output transmuting-output-{{loop.index}}">
					{{ texture_macros.render_item(output.item) }}
				</div>
			{% endfor %}

            <div>
                <img class="cost-icon pixelated" alt="{{ _('item.hexcasting.amethyst_dust') }}" src="{{ 'hexcasting:textures/item/amethyst_dust.png'|hexdoc_texture }}" style="width: 16px; height:16px" >
                {{ _(page.recipe.cost_translation_key) % (page.recipe.cost_translation_number) }}
            </div>
		</div>
	</div>
</details>
